<div class="container-fluid>">
    <div class="row justify-content-center">
        <div class="column-6">    
            <h1 style="text-align: center">Clothes delivered in as little<br>as 2 hours</h1>
        </div>
    </div>
    <br>
    <div class="row justify-content-center">
        <div class="column-6">
                
        <%= form_tag({controller: "malls", action: "index"}, method: "get") do %>
            <input type="text" class="form-control" placeholder="Postal Code" aria-label="Postal Code" name="location">
            <br>
            <button type="submit" class="btn btn-success btn btn-block">Search</button>    
        <% end %>
        </div>
    </div>
</div>
    <hr>

    <div class="row justify-content-center">        
        <%= image_tag "aldo.png", class: "font-weight-normal", alt: "Aldo same day delivery" %>
        <%= image_tag "aeo.png", class: "font-weight-normal", alt: "American Eagle Outfitters same day delivery" %>
        <%= image_tag "dynamite.png", class: "font-weight-normal", alt: "Dynamite same day delivery" %>
        <%= image_tag "footlocker.png", class: "font-weight-normal", alt: "Foot Locker same day delivery" %>
        <%= image_tag "garage.png", class: "font-weight-normal", alt: "Garage same day delivery" %>
        <%= image_tag "gap.png", class: "font-weight-normal", alt: "GAP same day delivery" %>
        <%= image_tag "cleo.png", class: "font-weight-normal", alt: "Cleo same day delivery" %>
        <%= image_tag "clarks.png", class: "font-weight-normal", alt: "Clarks same day delivery" %>
        <%= image_tag "geox.png", class: "font-weight-normal", alt: "Geox same day delivery" %>
        <%= image_tag "hm.png", class: "font-weight-normal", alt: "H&M same day delivery" %>
        <%= image_tag "lasenza.png", class: "font-weight-normal", alt: "La Senza same day delivery" %>
        <%= image_tag "laura.png", class: "font-weight-normal", alt: "Laura same day delivery" %>
        <%= image_tag "melanielyne.png", class: "font-weight-normal", alt: "Melanie Lyne same day delivery" %>
        <%= image_tag "northernreflections.png", class: "font-weight-normal", alt: "Northern Reflections same day delivery" %>
        <%= image_tag "reitmans.png", class: "font-weight-normal", alt: "Reitmans same day delivery" %>
        <%= image_tag "rwco.png", class: "font-weight-normal", alt: "RW&CO same day delivery" %>
        <%= image_tag "softmoc.png", class: "font-weight-normal", alt: "SoftMoc same day delivery" %>
        <%= image_tag "spring.png", class: "font-weight-normal", alt: "Call It Spring same day delivery" %>
        <%= image_tag "thyme.png", class: "font-weight-normal", alt: "Thyme Maternity same day delivery" %>
        <%= image_tag "victoriasecret.png", class: "font-weight-normal", alt: "Victoria's Secret same day delivery" %>
        <%= image_tag "pink.png", class: "font-weight-normal", alt: "Pink same day delivery" %>
        <%= image_tag "carters.png", class: "font-weight-normal", alt: "Carter's OshKosh same day delivery" %>
        <%= image_tag "guess.png", class: "font-weight-normal", alt: "Guess same day delivery" %>
    </div>