<div class="container-fluid">
<div class="row justify-content-center">
    <div class="column-6 text-center">
        <h1>Order Confirmation </h1> 
    </div>
</div>

<div class="row justify-content-center">
    <div class="column-6 text-center">
        <h5>Order number: <%= @order.id + 6040 %></h5> 
    </div>
</div>
        
<div class="row justify-content-center">
    <div class="column-6">
        <%=render partial: "items/items_list", locals: {items: @order.items, place_order_button: false} %>
    </div>
</div>

<div class="row justify-content-center my-3">
    <div class="column-6 text-center">
        <h5>Deliver to:</h5>
        <p>
            <%= @order.format_name %><br>
            <%= @order.format_street_address %><br>
            <%= @order.format_city_province_postal %>
        </p>
        <p>
            Email: <%=@order.email%><br>
            Phone: <%=@order.phone%>
        </p>
        <h5>Delivery Time: </h5>
        <p><%= @delivery_time %></p>
    </div>
</div>


</div>