<% items.each do |item| %>   
    <% unless item.id.nil?%>
        <div class="row justify-content-center">
            <div class="column-6">
                <p><b><%=item.description%></b></p>
            </div>
        </div>
        <div class="row justify-content-center">
            
            <div class="column-6">
                <p><i>Color:</i> <b><%=item.color%></b></p>
            </div>
        </div>
        <div class="row justify-content-center">
            
            <div class="column-6">
                <p><i>Size:</i> <b><%=item.size%></b></p>
            </div>
        </div>
        
        <div class="row justify-content-center">
            <%=link_to "Edit", edit_order_item_path(item.order, item) %>
        </div>
        <hr>
    <% end %>
    
<% end %>

<% if @place_order_button %>
    <% @order = items.last.order %>
    <%= link_to "Place order", edit_order_path(@order) %>
<% end %>