
<div class="container-fluid">
    
    <div class="row">
        <div class="col-12">
            <h1>We're available <%= @city%>, <%=@province%></h1>
        </div>
        
    </div>
    <hr>

    <% @malls.each do |mall| %>   
        <div class="row">
            <div class="column-4 px-3">
                <p><%=mall.name%></p>
                <p><%=mall.address%></p>
                <%=link_to "Select", mall_path(mall.id), class: "btn btn-success" %>
            </div>
            <div class="column-6 px-3 mall-stores">
                <% mall.stores.each do |store| %>
                    <%= image_tag "#{store.logo}", class: "font-weight-normal m-1 border", alt: "#{store.name} same day delivery" %>
                <% end %>
            </div>
            <div class="column-2 px-3">
                <h5>Delivery: </h5>
                <h3 class="align-middle"><%= number_to_currency(mall.get_delivery_price(@location)) %></h3>    
            </div>
        </div>
        <hr>
    <% end %>
    
</div>