<!DOCTYPE html>
<html>
  <head>
    <title>Try It On Today - Same Day Clothes Delivery</title>
    <%=favicon_link_tag 'favicon.ico'%>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  
    <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=UA-99576331-2"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-99576331-2');
      </script>
    <!-- end Google Analytics -->

  
  </head>

  <body>
  <div class="navigation d-flex justify-content-center border-bottom box-shadow">
    <%= image_tag "fitit-logo.png", class: "font-weight-normal" %>
  </div>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
