<!DOCTYPE html>
<html>
  <head>
  
    <title>Try It On Today - Same Day Clothes Delivery</title>
    <%=favicon_link_tag 'favicon.ico'%>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <% if Rails.env.production? %>
      <%= render partial: "google_analytics" %>
      <%= render partial: "g_suite_verification" %>
    <% end %>

  </head>

  <body>

  <div class="navigation d-flex justify-content-center border-bottom box-shadow">
    <%= image_tag "fitit-logo.png", class: "font-weight-normal" %>
  </div>
    
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
    
  <%= yield %>

  <footer class="footer">
      <div class="container">
        <div class="row trademark justify-content-center py-3">
          <div class="column-5 small px-3">
            2017-2018 TRY IT ON TODAY <br>
            All rights reserved <br>
            Red Pineapple Technologies Inc.<br>
            6-1500 Upper Middle Road West, Suite 141 <br>
            Oakville, ON, Canada L6M 0C2<br>
            <span>Text: </span><a href="sms:16479970670" class="footer-link">+1 647 997 0670</a><br>
            <span>Call:  </span><a href="tel:16479970670" class="footer-link">+1 647 997 0670</a><br>
            <span>Email: </span><a href="mailto:info@tryitontoday.com" class="footer-link">info@tryitontoday.com</a></br>
            <%=link_to "Vectors graphics designed by Freepik", "http://www.freepik.com/" %>
          </div>
        </div>
      </div>
  </footer>

  <% if Rails.env.production? %>
    <%= render partial: "tamboo" %>
  <% end %>
  </body>
</html>
